<a href="https://colab.research.google.com/github/Sinchana-Chaluvaraju/sets_und_dictionaries/blob/main/sets_und_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'cherry', 'apple'}

In [2]:
#duplicates will be ignored
myset = {"apple", "banana", "cherry", "apple"}
print(myset)

{'banana', 'cherry', 'apple'}

In [3]:
#true and 1 are considered same
myset = {"apple", "banana", "cherry", True, 1, 2} #hence 1 will be ignored
print(myset)

{True, 2, 'cherry', 'apple', 'banana'}

In [4]:
#False and 0 are considered same and 0 will be ignored
myset = {"apple", "banana", "cherry", False, True, 0}
print(myset)

{False, True, 'cherry', 'apple', 'banana'}

In [5]:
#length of a set
myset = {"apple", "banana", "cherry"}

print(len(myset))

3

In [6]:
#set items and data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [7]:
#A set can contain different data types
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'male', 34, True, 'abc', 40}

In [8]:
#type()=<class 'set'>
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [10]:
#How to construct set? ----> use set()
set1 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(set1)

{'banana', 'cherry', 'apple'}

In [11]:
#for loop
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

banana
cherry
apple

In [13]:
#boolean results
myset = {"apple", "banana", "cherry"}
print("banana" not in myset)
print("banana" in myset)

False
True

In [15]:
#Add items to the set
myset = {"apple", "banana", "cherry"}
myset.add("orange")
print(myset)

{'banana', 'cherry', 'orange', 'apple'}

In [16]:
#adding a new set to the existing set
myset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

myset.update(tropical)

print(myset)

{'papaya', 'cherry', 'pineapple', 'apple', 'mango', 'banana'}

In [17]:
#Adding Any Iterable
myset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

myset.update(mylist)

print(myset)

{'apple', 'kiwi', 'cherry', 'banana', 'orange'}

In [18]:
#Remove items from set
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'cherry', 'apple'}

In [19]:
#can remove items using discard()
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

{'cherry', 'apple'}

In [20]:
#to remove random items use pop()
myset = {"apple", "banana", "cherry"}

x = myset.pop()

print(x)

print(myset)   #It shows randomly removed item along with the remaining items

banana
{'cherry', 'apple'}

In [21]:
#How to empty a set? -----> use clear()
myset = {"apple", "banana", "cherry"}

myset.clear()

print(myset)

set()

In [24]:
'''
#How to delete a set?
myset = {"apple", "banana", "cherry"}

del myset

print(myset)
'''

'\n#How to delete a set?\nmyset = {"apple", "banana", "cherry"}\n\ndel myset\n\nprint(myset)\n'

In [27]:
#joining two sets to a new set
#Method 1 ----> use union()
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [28]:
#Method 2 ----> use |
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [29]:
#joining multiple sets to a new set
#Method 1
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'b', 'apple', 'a', 'John', 'c', 'cherry', 'Elena'}

In [30]:
#Method 2
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'bananas', 'b', 'apple', 'a', 'John', 'c', 'cherry', 'Elena'}

In [31]:
#joining set and tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [46]:
#Set Methods
#add()
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

print(fruits)

#clear()
fruits = {"apple", "banana", "cherry"}
fruits.clear()

print(fruits)

#copy()
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()

print(x)

#difference ---- shortcut(sc)= '-'
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

#difference_update  ------- sc = '-='
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

#discard()
#pop()
#remove()
#union()   ------------- |
#update() --------------  |=

#intersection()-----   SC = '&'
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

#intersection_update ------ SC = '&='
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

#isjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

#issubset()-------------   <=
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

#issuperset() ------------   	>=
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

#symmetric_difference() -----------  ^
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

#symmetric_difference_update() -----------   ^=
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'orange', 'apple'}
set()
{'banana', 'cherry', 'apple'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'apple'}
{'apple'}
True
True
True
{'cherry', 'google', 'microsoft', 'banana'}
{'cherry', 'google', 'microsoft', 'banana'}